@model IEnumerable<Team>
@{
    ViewData["Title"] = "Akademisyenler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<div style="background-color:#2c3e50;height:250px;" data-aos="fade" id="home-section">
    <div class="container-fluid" style="top: 60%;position: absolute;transform: translateY(-50%);-ms-transform: translateY(-50%);">
        <center><h1 style="color:#fff">Akademisyenler</h1></center>
    </div>
</div>

<section class="site-section border-bottom bg-light">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Takımımız</h2>
                <p class="lead" data-aos="fade-up" data-aos-delay="100">Ekibimiz İçerisindeki Akademisyenler</p>
            </div>
        </div>
        <div class="row">



            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="">
                    <div class="team-member">
                        <figure>
                            <ul class="social">
                                <li><a href="@item.Github"><span class="icon-github"></span></a></li>
                                <li><a href="@item.Twitter"><span class="icon-twitter"></span></a></li>
                                <li><a href="@item.Linkedin"><span class="icon-linkedin"></span></a></li>
                                <li><a href="@item.Instagram"><span class="icon-instagram"></span></a></li>
                            </ul>
                            <img src="~/Ekip/@item.Photo" alt="Image" class="img-fluid">
                        </figure>
                        <div class="p-3">
                            <h3>@item.NameSurname</h3>
                            <span class="position">@item.TeamName</span>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>


