@model IEnumerable<News>
@{
    ViewData["Title"] = "Haberler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<div style="background-color:#2c3e50;height:250px;" data-aos="fade" id="home-section">
    <div class="container-fluid" style="top: 60%;position: absolute;transform: translateY(-50%);-ms-transform: translateY(-50%);">
        <center><h1 style="color:#fff">Haberler</h1></center>
    </div>
</div>

<section class="site-section bg-light" id="blog-section">
    <div class="container">

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
                    <div class="h-entry">
                        <a href="/Anasayfa/Haber/@item.Id">
                            <img src="~/Haberler/@item.Photo" alt="Image" class="img-fluid">
                        </a>
                        <h2 class="font-size-regular"><a href="#">@item.Title</a></h2>
                        <div class="meta mb-4">@item.Author <span class="mx-2">•</span> @item.Date<span class="mx-2">•</span> <a href="#">Haber</a></div>
                        <p>
                            @if(item.Content.Length > 50)
                            {
                                <span>@item.Content.Substring(0, 48)</span>
                            }
                            else
                            {
                                @item.Content
                            }
                        </p>
                        <p><a href="/Anasayfa/Haber/@item.Id">Okumaya Devam Et</a></p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


